:root {
  --primary-light: #39ddfa;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.sectionDatosNetwork {
  background-color: #e9e9e9;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.sectionDatosNetwork__porcentaje {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column-gap: 76px;
  align-items: center;
  padding: 36px 0;
  flex-grow: 4;
}

.sectionDatosNetwork__porcentaje .descRango {
  color: var(--Darkest-grises);
  font-weight: 400;
  font-size: 25px;
  text-align: start;
  margin-bottom: 0;
  line-height: 1;
}

.sectionDatosNetwork__porcentaje .valorRango {
  color: var(--Medium-primary);
  font-weight: 500;
  font-size: 30px;
  text-align: start;
  line-height: 1;
  margin-bottom: 0;
  font-family: var(--Font-type);
}

.sectionDatosNetwork__porcentaje .valorComiTotal {
  font-size: 45px;
  color: var(--Medium-primary);
  font-weight: 500;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sectionDatosNetwork__porcentaje .valorComiTotal .moneda {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.sectionDatosNetwork__porcentaje .botonComisiones {
  border-radius: 25px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  padding: 10px 48px;
  background-color: var(--Medium-primary);
  border: none;
  transition: 0.3s background-color ease;
  font-family: var(--Font-type);
}

.sectionDatosNetwork__porcentaje .botonComisiones:hover {
  background-color: #304d9e;
  border: none;
}

.sectionDatosNetwork__porcentaje .botonComisiones:focus {
  background-color: var(--Light-primary);
  border: none;
}

.sectionMiProgreso {
  display: flex;
  justify-content: center;
  padding: 35px 46px;
  grid-gap: 0;
  width: 618px;
}

.sectionMiProgreso__Rangos {
  font-size: 14px;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 46px;
}

.sectionMiProgreso__porcentaje {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sectionTotComisiones {
  padding: 69px 63px;
  width: 456px;
}

.totComisiones {
  font-size: 25px;
  margin: 0;
  line-height: 1;
  margin-bottom: 10px;
}

.bloqueSectionMiProgreso {
  background: #e9e9e9;
  border-radius: 40px;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.45));
}

.sectionDatosNetwork__red {
  display: flex;
}

.sectionDatosNetwork__cuadros {
  padding: 53.5px;
  display: flex;
  grid-gap: 54px;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  width: 53%;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha,
.sectionDatosNetwork .cuadrosIzquierda {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha div,
.sectionDatosNetwork .cuadrosIzquierda div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha div,
.sectionDatosNetwork__cuadros .cuadrosIzquierda div {
  background-color: #fff;
  width: 280px;
  height: 103px;
  border-radius: 7px;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
  color: var(--Medium-primary);
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  text-align: center;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha .valor,
.sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  line-height: 1;
}

.sectionDatosNetwork__cuadros .cuadrosDerecha .desc,
.sectionDatosNetwork__cuadros .cuadrosIzquierda .desc {
  color: var(--Medium-primary);
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-family: var(--Font-type);
  text-align: center;
  width: 80%;
}

.textoProgresoPorcentaje {
  font-size: 16px;
  position: absolute;
  bottom: 135px;
  width: 130px;
  text-align: center;
  margin: 0;
  z-index: 999999999999;
  color: white;
  right: 122px;
}

.card__percent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__number {
  position: absolute;
  color: #fff;
  font-size: 5rem;
  font-family: 'DM Sans', sans-serif;
  top: 85px;
  z-index: 999999;
}

.circleProgressBarNew {
  position: relative;
  width: 28rem;
  height: 28rem;
  z-index: 1000;
  transform: rotate(-90deg);
}

.circleProgressBarNew circle {
  width: 100%;
  height: 100%;
  fill: none;
  transform: translate(5rem, 5rem);
  /*stroke-dasharray: 365.49;
                stroke-dashoffset: 282.75;*/
  /*stroke-dasharray: 560.49;*/
  stroke-dasharray: 565.49;
  stroke-dashoffset: 560.75;
  transition: all 3s ease;
  stroke-width: 70;
}

.circle {
  position: absolute;
  width: 24.5rem;
  height: 24.5rem;
  border-radius: 50%;
  box-shadow: none;
  background: #fff;
}

.circle__medium {
  width: 24.5rem;
  height: 24.5rem;
  box-shadow: inset 30px 30px 10px #fff, inset -4px -4px 8px #fff;
}

.circle__semimedium {
  width: 23rem;
  height: 23rem;
  box-shadow: inset 90px 90px 170px #e9e9e9, inset -14px -14px 8px #e9e9e9;
  z-index: 9999;
}

.circle__small {
  width: 17.5rem;
  height: 17.5rem;
  box-shadow: none;
  z-index: 999999;
  background: #6884d3;
}

.sectionRangoActual {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 10px;
}

.sectionSiguienteRango {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
.bloqueMiRed {
  margin: 46px auto;
  width: 47%;
}

.bloqueMiRed__section {
  max-width: 100%;
  margin: auto 20px;
}

.bloqueMiRed__titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 23px;
  padding-left: 74px;
}

.bloqueMiRed__titulo p {
  font-family: var(--Font-type);
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: var(--Medium-primary);
  margin-bottom: 0px;
  line-height: 1;
}

.bloqueMiRed__irMapaRed {
  display: flex;
  justify-content: center;
  margin-top: 41px;
}

.bloqueMiRed__irMapaRed a {
  border: 1px solid var(--Light-primary);
  border-radius: 40px;
  color: var(--Medium-primary);
  font-family: var(--Font-type);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 14px 46.5px;
  transition: 0.3s background-color;
  background: white;
}

.bloqueMiRed__titulo a:hover {
  color: var(--Medium-primary);
}

.bloqueMiRed__titulo a:focus {
  color: var(--Medium-primary);
  background-color: var(--Light-primary);
  border: 1px solid var(--Medium-primary);
}

.bloqueMiRed__titulo a:active {
  color: var(--Medium-primary);
  background-color: var(--Light-primary);
  border: 1px solid var(--Medium-primary);
}

.bloqueMiRed__circulos {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  row-gap: 8px;
  column-gap: 50px;
  padding-left: 20px;
}

.bloqueMiRed__circulos article {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}

.articleCirculos__img {
  position: relative;
}

.articleCirculos__img .valorCirculo {
  font-size: 26px;
  font-weight: 400;
  color: white;
  position: absolute;
  top: 0;
  margin: 0;
  line-height: 145px;
  width: 150px;
  text-align: center;
}

.articleCirculos__nombre p {
  margin-top: 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--Medium-primary);
  text-align: center;
  font-family: var(--Font-type);
}

/* ----------------------------------------------------------- */
.siguienteRango {
  font-family: var(--Font-type);
  font-weight: 400;
  font-size: 25px;
  text-align: start;
  color: #000;
  line-height: 1;
  margin-bottom: 5px;
}

.radial-progress {
  border-radius: 50%;
  /*box-shadow: -9px 8px 10px rgba(0, 0, 0, .35);*/
}

.siguienteConquista {
  font-family: var(--Font-type);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  /*width: 335px;*/
  text-align: center;
  color: #000;
  line-height: 1;
  margin-bottom: 7px;
}

/*Para Tablet Ipad Pro 1024px - Nest Hub 1024px*/
@media (max-width: 1279px) and (min-width: 1024px) {
  /* Para la nueva Barra de Navegacion */
  .newNavBar-nav .ocultar img {
      top: 20px;
  }

  .newNavBar-nav .ocultar a {
      margin: 0;
      margin-top: 10px;
      padding: 0 !important;
      text-transform: inherit;
      font-size: 16px !important;
      color: var(--Medium-primary) !important;
      font-weight: bold;
  }
/*Para la sección Rango y Comisiones del Index*/
.sectionDatosNetwork__porcentaje .valorRango {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.sectionDatosNetwork__porcentaje .descRango {
  font-size: 22px;
}

.sectionDatosNetwork__porcentaje {
  grid-gap: 30px;
}

.sectionMiProgreso {
  padding: 0 20px;
  grid-gap: 0px;
  width: 500px;
}

.textoProgresoPorcentaje {
  transform: translate(20%, 60%);
}

.sectionTotComisiones {
  padding: 34px 43px;
}


/*Para la sección de Mi Red del Index*/
.bloqueMiRed__section {
  margin: auto 35px auto 0px;
}

.bloqueMiRed__circulos {
  padding-left: 0;
}

.articleCirculos__nombre p {
  margin-top: 0px;
}

.sectionDatosNetwork__cuadros {
  justify-content: flex-end;
}


}

@media (min-width: 1024px) {
  .circleProgressBarGrande {
    display: block;
  }
}

@media (max-width: 1400px) {
  .sectionDatosNetwork__cuadros {
    padding: 31.5px 86px;
    grid-gap: 58px;
  }

  .nextt {
    right: 19.7% !important;
  }

  .slider_div .owl-item.active {
    left: -230px;
  }

  .slider_div .owl-item.center .item img {
    transform: scale(0.95);
  }
}

/*@media (max-width: 1320px) {
    .bloqueMiRed__section {
        margin: auto 50px;
    }
}*/
/*@media (max-width: 1349px) {
    .slider_div .owl-item.active {
        left: 480px;
    }
}*/

@media (max-width: 1320px) {
  .slider_div .owl-item.active {
    left: -240px;
  }
}

@media (max-device-width: 1349px) and (min-device-width: 1280px) {
  .siguienteConquista {
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  .sectionDatosNetwork__cuadros {
    padding: 31.5px 70px;
    grid-gap: 28px;
  }

  .slider_div .owl-item.center .item img {
    transform: scale(0.85);
  }

  .slider_div .owl-item.active {
    left: -250px;
  }
}

@media (max-width: 1199px) {
  .sectionDatosNetwork__cuadros {
    padding: 31.5px 30px;
    grid-gap: 18px;
    justify-content: center;
  }

  .bloqueMiRed__section {
    margin: auto 10px;
  }

  .bloqueMiRed__circulos {
    grid-gap: 0;
  }

  /*Para el slider inferior del INDEX*/
  .slider_div .owl-item.active.center {
    display: flex;
    justify-content: center;
  }

  .slider_div .owl-item.active {
    left: 200px;
  }

  .owl-item .item {
    width: min-content;
  }
}

@media (max-width: 1130px) {
  .sectionDatosNetwork__cuadros .cuadrosDerecha div,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
    width: 250px;
  }

  .sectionDatosNetwork__porcentaje {
    width: 100%;
  }
}

@media (max-width: 998px) {
  .sectionDatosNetwork__cuadros .cuadrosDerecha div,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
    width: 127px;
  }

  .bloqueMiRed__circulos {
    padding: 0;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .sectionDatosNetwork .sectionDatosNetwork__porcentaje {
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px 0;
  }
  .sectionDatosNetwork .sectionDatosNetwork__porcentaje .valorRango{
    font-size: 25px;
  }
  .sectionDatosNetwork .sectionDatosNetwork__porcentaje .descRango{
    font-size: 22px;
  }
  .sectionDatosNetwork .sectionDatosNetwork__porcentaje .sectionMiProgreso {
    padding: 0 26px;
    grid-gap: 0;
    width: 550px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionMiProgreso
    .circleProgressBarGrande {
    display: block;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionMiProgreso
    .circleProgressBarGrande
    .textoProgresoPorcentaje {
    transform: translate(18%, 60%);
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones{
      padding: 23px 23px;
      width: 550px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones div .siguienteConquista{
      font-size: 20px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones div .valorComiTotal{
      font-size: 30px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones div .valorComiTotal .moneda{
      font-size: 30px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones div .totComisiones{
      text-align: center;
      font-size: 20px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__porcentaje
    .sectionTotComisiones div .botonComisiones{
      font-size: 16px;
  }

  .sectionDatosNetwork
    .sectionDatosNetwork__red
    .bloqueMiRed
    .bloqueMiRed__section
    .bloqueMiRed__titulo
    p {
    font-size: 25px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__red
    .bloqueMiRed
    .bloqueMiRed__section
    .bloqueMiRed__circulos
    article
    .articleCirculos__img
    img {
    width: 100px;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__red
    .bloqueMiRed
    .bloqueMiRed__section
    .bloqueMiRed__circulos
    article
    .articleCirculos__img
    .valorCirculo {
    transform: translate(-16.5%, -16.5%);
    font-size: 12px !important;
  }
  .sectionDatosNetwork
    .sectionDatosNetwork__red
    .bloqueMiRed
    .bloqueMiRed__section
    .bloqueMiRed__circulos
    article
    .articleCirculos__nombre
    p {
    font-size: 14px;
    margin-top: 0;
  }

  .sectionDatosNetwork__porcentaje .descRango {
    font-size: 22px;
  }
  .sectionDatosNetwork__cuadros .cuadrosDerecha div,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
    width: 150px;
  }
  .sectionDatosNetwork__cuadros .cuadrosDerecha .valor,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
    font-size: 20px;
  }
  .sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
    font-size: 20px;
  }
}

@media (max-width: 887px) {
  .sectionDatosNetwork {
    flex-direction: column;
  }

  .sectionDatosNetwork__porcentaje {
    width: 100%;
    padding: 20px 60px;
  }

  .bloqueMiRed__circulos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) and (min-width: 500px) {
  /*Sección Progreso de Rango y Comisiones Index*/
  .sectionDatosNetwork__porcentaje {
    padding: 46px 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
  .sectionMiProgreso {
    grid-gap: 0;
    padding: 30px;
    max-width: 432px;
  }
  .sectionDatosNetwork__porcentaje .valorRango,
  .sectionDatosNetwork__porcentaje .descRango {
    font-size: 18px;
  }
  .sectionMiProgreso__porcentaje {
    display: flex;
  }

  .circleProgressBarGrande {
    display: none;
  }
  .card__number {
    font-size: 4.5rem;
  }
  .textoProgresoPorcentaje {
    bottom: 70px;
    right: 30px;
    color: var(--Light-primary);
    line-height: 1;
    font-size: 14px;
    width: 100px;
    transform: translate(-50%, -50%);
  }
  .sectionTotComisiones {
    padding: 30px 53px;
    width: 432px;
  }
  .siguienteConquista {
    font-size: 18px;
  }
  .sectionDatosNetwork__porcentaje .valorComiTotal {
    font-size: 25px;
  }
  .sectionDatosNetwork__porcentaje .valorComiTotal .moneda {
    font-size: 22px;
  }
  .totComisiones {
    font-size: 18px;
  }
  .sectionDatosNetwork__porcentaje .botonComisiones {
    font-size: 16px;
  }
  /*Seccion Mi Red Index*/
  .bloqueMiRed__titulo {
    padding-left: 55px;
  }

  .sectionDatosNetwork__red {
    flex-direction: column;
  }

  .bloqueMiRed {
    width: 100%;
  }

  .articleCirculos__img .valorCirculo {
    font-size: 18px;
  }

  .articleCirculos__nombre p {
    margin-top: 0;
    font-size: 16px;
  }

  .sectionDatosNetwork__cuadros {
    width: 100%;
  }

  .sectionDatosNetwork__cuadros {
    padding: 0 20px 60px 20px;
    grid-gap: 20px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha div,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
    width: 200px;
  }

  .bloqueMiRed__circulos {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
  }

  bloqueMiRed__circulos article img {
    width: 91px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
    font-size: 18px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .valor,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
    font-size: 18px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .desc,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .desc {
    font-size: 16px;
    font-weight: 400;
  }

  .owl-carousel .owl-item {
    height: fit-content;
  }

  .bloqueMiRed__irMapaRed a {
    font-size: 16px;
    padding: 10px 48px;
    line-height: 1.4;
  }
}

/*Dimensiones desde 281px hasta 500px de ancho en pantalla desktop*/
@media (max-width: 499px) and (min-width: 281px) {
  #idEditarPerfil2 {
    display: none;
  }

  #clicLogin {
    font-size: 12px;
    font-weight: 400;
    padding: 4px 15px;
  }

  .top-nav .navbar-collapse {
    padding: 0;
  }

  .enlaceRegistrar {
    text-transform: uppercase !important;
    color: #d0d0d0 !important;
  }

  .descRango {
    font-size: 12px !important;
    /*margin-bottom: 13px !important;*/
    margin: 0;
    font-weight: 500;
  }

  .sectionDatosNetwork__porcentaje .valorComiTotal {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .sectionDatosNetwork__porcentaje .valorComiTotal .moneda {
    font-size: 14px;
    font-weight: 700;
  }

  .sectionDatosNetwork__porcentaje .valorRango {
    font-size: 12px;
    line-height: 1;
    color: var(--Medium-primary);
    font-weight: 700;
    margin: 0;
  }

  /*-----------------------------------------------------------------------------------------------*/
  .bloqueSectionMiProgreso {
    width: 277px;
    height: 140px;
    padding: 0 10px 0 30px;
    grid-gap: 0;
    border-radius: 17px;
  }

  .sectionTotComisiones {
    padding: 0 30px;
  }

  .sectionMiProgreso__Rangos {
    grid-gap: 24px;
  }

  .sectionMiProgreso__Rangos > div {
    grid-gap: 7px;
    width: max-content;
  }

  svg.radial-progress {
    max-width: 108px;
  }
  /*----circle progress bar PROGRESO RANGO ACTUAL-----*/
  .circleProgressBarNew {
    width: 20rem;
    height: 20rem;
  }

  .circleProgressBarNew circle {
    transform: translate(1rem, 1rem);
    stroke-width: 8px;
  }

  .circle {
    width: 18.5rem;
    height: 18.5rem;
  }

  .circle__medium {
    width: 18.5rem;
    height: 18.5rem;
  }

  .circle__semimedium {
    width: 17.5rem;
    height: 17.5rem;
  }

  .circle__small {
    width: 13rem;
    height: 13rem;
  }

  .card__number {
    font-size: 3.5rem;
    top: 65px;
  }
  /*---------------------------------------------------*/
  .sectionDatosNetwork__red {
    flex-direction: column;
  }

  .bloqueMiRed {
    width: 90%;
    margin: 17px auto;
  }

  .bloqueMiRed__irMapaRed {
    margin-top: 16px;
  }

  .articleCirculos__img img {
    width: 85px;
  }

  .articleCirculos__img .valorCirculo {
    font-size: 14px;
    line-height: 85px;
    width: 85px;
  }

  .siguienteConquista {
    font-size: 12px;
  }

  .totComisiones {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }

  .sectionDatosNetwork__porcentaje .botonComisiones {
    font-size: 12px;
    padding: 8px 22px;
    line-height: 1;
  }

  .sectionDatosNetwork {
    flex-direction: column;
  }

  .sectionDatosNetwork__porcentaje {
    width: 100%;
    padding: 30px 0px 40px;
    grid-gap: 20px;
    flex-direction: column;
  }

  .sectionDatosNetwork__cuadros {
    flex-direction: row;
    align-items: center;
    padding: 13px 0 40px;
    grid-gap: 21px;
    width: 100%;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
    font-size: 16px;
    width: min-content;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .valor,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
    font-size: 16px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .desc,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .desc {
    font-size: 14px;
  }

  .rangoProximo {
    font-size: 12px;
    font-weight: 700;
  }

  .bloqueMiRed__section {
    margin: auto 15px auto 5px;
  }

  .bloqueMiRed__circulos article {
    grid-gap: 15px;
  }

  .bloqueMiRed__titulo {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .bloqueMiRed__titulo p {
    font-size: 16px;
    margin-left: 26px;
  }

  .bloqueMiRed__section a {
    font-size: 12px;
    padding: 8px 22px;
    background: white;
  }

  .bloqueMiRed__circulos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding: 0;
  }

  .articleCirculos__nombre p {
    font-size: 12px;
  }
}


/*Dimensiones Móviles normales desde 281px hasta 500px de ancho*/
@media (max-device-width: 499px) and (min-device-width: 281px) {
  #idEditarPerfil2 {
    display: none;
  }

  #clicLogin {
    font-size: 12px;
    font-weight: 400;
    padding: 4px 15px;
  }

  .top-nav .navbar-collapse {
    padding: 0;
  }

  .enlaceRegistrar {
    text-transform: uppercase !important;
    color: #d0d0d0 !important;
  }

  .descRango {
    font-size: 12px !important;
    /*margin-bottom: 13px !important;*/
    margin: 0;
    font-weight: 500;
  }

  .sectionDatosNetwork__porcentaje .valorComiTotal {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .sectionDatosNetwork__porcentaje .valorComiTotal .moneda {
    font-size: 14px;
    font-weight: 700;
  }

  .sectionDatosNetwork__porcentaje .valorRango {
    font-size: 12px;
    line-height: 1;
    color: var(--Medium-primary);
    font-weight: 700;
    margin: 0;
  }

  /*-----------------------------------------------------------------------------------------------*/
  .bloqueSectionMiProgreso {
    width: 277px;
    height: 140px;
    padding: 0 10px 0 30px;
    grid-gap: 0;
    border-radius: 17px;
  }

  .sectionTotComisiones {
    padding: 0 30px;
  }

  .sectionMiProgreso__Rangos {
    grid-gap: 24px;
  }

  .sectionMiProgreso__Rangos > div {
    grid-gap: 7px;
    width: max-content;
  }

  /*----circle progress bar PROGRESO RANGO ACTUAL-----*/
  .circleProgressBarNew {
    width: 20rem;
    height: 20rem;
  }

  .circleProgressBarNew circle {
    transform: translate(1rem, 1rem);
    stroke-width: 8px;
  }

  .circle {
    width: 18.5rem;
    height: 18.5rem;
  }

  .circle__medium {
    width: 18.5rem;
    height: 18.5rem;
  }

  .circle__semimedium {
    width: 17.5rem;
    height: 17.5rem;
  }

  .circle__small {
    width: 13rem;
    height: 13rem;
  }

  .card__number {
    font-size: 3.5rem;
    top: 65px;
  }

  .textoProgresoPorcentaje {
    bottom: 43px !important;
    font-size: 9px;
    text-align: center;
    width: 60px;
    right: 43px;
    color: var(--Medium-primary);
    font-weight: 600;
  }
  /*---------------------------------------------------*/
  .sectionDatosNetwork__red {
    flex-direction: column;
  }

  .bloqueMiRed {
    width: 90%;
    margin: 17px auto;
  }

  .bloqueMiRed__irMapaRed {
    margin-top: 16px;
  }

  .articleCirculos__img img {
    width: 85px;
  }

  .articleCirculos__img .valorCirculo {
    font-size: 14px;
    line-height: 85px;
    width: 85px;
  }

  .siguienteConquista {
    font-size: 12px;
  }

  .totComisiones {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
  }

  .sectionDatosNetwork__porcentaje .botonComisiones {
    font-size: 12px;
    padding: 8px 22px;
    line-height: 1;
  }

  .sectionDatosNetwork {
    flex-direction: column;
  }

  .sectionDatosNetwork__porcentaje {
    width: 100%;
    padding: 30px 0px 40px;
    grid-gap: 20px;
    flex-direction: column;
  }

  .sectionDatosNetwork__cuadros {
    flex-direction: row;
    align-items: center;
    padding: 13px 0 40px;
    grid-gap: 21px;
    width: 100%;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
    font-size: 16px;
    width: min-content;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .valor,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
    font-size: 16px;
  }

  .sectionDatosNetwork__cuadros .cuadrosDerecha .desc,
  .sectionDatosNetwork__cuadros .cuadrosIzquierda .desc {
    font-size: 14px;
  }

  .rangoProximo {
    font-size: 12px;
    font-weight: 700;
  }

  .bloqueMiRed__section {
    margin: auto 15px auto 5px;
  }

  .bloqueMiRed__circulos article {
    grid-gap: 15px;
  }

  .bloqueMiRed__titulo {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .bloqueMiRed__titulo p {
    font-size: 16px;
    margin-left: 26px;
  }

  .bloqueMiRed__section a {
    font-size: 12px;
    padding: 8px 22px;
    background: white;
  }

  .bloqueMiRed__circulos {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding: 0;
  }

  .articleCirculos__nombre p {
    font-size: 12px;
  }
}
